@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.vendas{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px 0 100px;
}
/*---------CONFIGURAÇÃO DO CARD----------*/
.card{
    height: 400px;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 0 1rem rgba(0,0, 0, .3);
    color: black;
}
.card .div_img{
    height: 370px;
    background-color: white;

}
.card .div_img img{
    height: 100%;
    width: 100%;
}
.card .price{
    display: flex;
    justify-content: space-around;
}
.card .price p{
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 15px;
}
.card .price div{
    display: flex;
    gap: 3px;
}
.card .price .valor{
    font-weight: 700;
}
.card .price .tamanho{
    color: #ff3c19;
    font-weight: 500;
}
/*---------CONFIGURAÇÃO DA AREA DE CONTATOS----------*/
.vendas .contat{
    height: 400px;
    width: 400px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 15px;
    font-family: 'Oswald';
    font-size:25px;
}
.vendas .contat .vendedores{
    margin-top: 50px;
    font-size:18px;
}
.vendas .contat .vendedores p{
    margin-bottom: 5px;
}
.vendas .contat .vendedores button{
    border-radius: 5px;
    height: 35px;
    width: 200px;
    border: none;
    cursor: pointer;
    background-color: green;
    margin-bottom: 15px;
}
.vendas .contat .vendedores a{
    text-decoration: none;
    color: #ffffff;
}