.cartaz{
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
.cartaz div{
    background-color: #6f6f6f;
    height: 200px;
    width: 400px;
}
/*-----RESPONSIVIDADE----------*/
@media screen  and (max-width: 1180px){
    .cartaz div{
        height: 150px;
        width: 300px;
    }
    .cartaz div img{
        height: 150px;
        width: 300px;
    }
}
@media screen  and (max-width: 670px){
    .cartaz{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}
@media screen  and (max-width: 670px){
    .cartaz div{
        height: 150px;
        width: 280px;
    }
    .cartaz div img{
        height: 150px;
        width: 280px;
    }
}
