.navbar{
    background-color: #1a1a1a;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.navbar p{
    margin-bottom: 0;
}
.navbar nav{
    width: 320px;
    display: flex;
    justify-content: space-between;
}
.navbar nav a{
    text-decoration: none;
    color: rgb(165, 165, 165);
}
.navbar div {
    width: auto;
    display: flex;
    justify-content: space-between;
}
.navbar div a{
    text-decoration: none;
    color: rgb(165, 165, 165);
}
.navbar div button{
    border-radius: 20px;
    height: 35px;
    width: 100px;
    border: none;
    cursor: pointer;
    background-color: green;
}
.navbar div button a{
    color: white;
}
/*------- RESPONSIVIDADE------*/
@media screen  and (max-width: 670px){
    .navbar{
        padding: 0 20px 0 20px;
        justify-content: space-between;
    }
    .navbar nav{
        width: 290px;
        display: flex;
        justify-content: space-between;
    }
}
@media screen  and (max-width: 500px){
    .navbar nav{
        
        display: none;
        
    }
}